@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */

  --font-roboto: var(--font-roboto); /* Roboto as default */
}

.accordion-menu-item div[data-orientation="vertical"] {
  padding-left: 0;
  padding-right: 0;
}
